<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Website</title>
  <link rel="stylesheet" href="itemsscanner.component.css">
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="assets/img.jpg">
    </div>
    <div class="company-name">
      Company Name
    </div>
  </header>

  <div class="qr">
    <img src="assets/qr.png" alt="QR Code">

  </div>
  <div class=" description-info">
    <p>Make   an employee to scan the QR code  to pay the cash</p>

  </div>



</body>
</html>
