<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="exitscanner.component.css">
</head>
<body>
  <div class="cart-header">
    <button class="back-button" onclick="goBack()">&#xf359;</button>
    <h1 class="cart-title">Payment</h1>
  </div>
  <div class="upi-methods">
    <div class="row-heading">
      <img src="assets/qr.png"  alt="upi-image">
      <h3>Pay using an UPI</h3>
    </div>
    <div class="payment-container">
      <div class="payment-methods">
          <label class="payment-method">
              <img src="https://example.com/phonepe.png" alt="PhonePe">
              <span>PHONEPE</span>
              <input type="radio" name="payment-method">
          </label>
          <hr>
          <label class="payment-method">
              <img src="https://example.com/googlepay.png" alt="Google Pay">
              <span>GOOGLE PAY</span>
              <input type="radio" name="payment-method">
          </label>
          <hr>
          <label class="payment-method">
              <img src="https://example.com/amazonpay.png" alt="Amazon Pay">
              <span>AMAZON PAY</span>
              <input type="radio" name="payment-method">
          </label>
          <hr>
          <label class="payment-method">
              <img src="https://example.com/add.png" alt="Add New">
              <span>ADD NEW PAYMENT METHOD</span>
              <input type="radio" name="payment-method">
          </label>
      </div>
  </div>
  </div>
  <div class="upi-methods">
    <div class="row-heading">
      <img src="assets/upi.png"  alt="upi-image">
      <h3>Pay using Cards</h3>
    </div>
    <div class="payment-container">
      <div class="payment-methods">
          <label class="payment-method">
              <img src="https://example.com/phonepe.png" alt="PhonePe">
              <span>Pay using Credit/Debit cards</span>
              <input type="radio" name="payment-method">
          </label>
          </div>
          </div>
          </div>
          <div class="upi-methods">
            <div class="row-heading">
              <img src="assets/upi.png"  alt="upi-image">
              <h3>Pay using Cards</h3>
            </div>
            <div class="payment-container">
              <div class="payment-methods">
                  <label class="payment-method">
                      <img src="https://example.com/phonepe.png" alt="PhonePe">
                      <span>Pay using Credit/Debit cards</span>
                      <input type="radio" name="payment-method">
                  </label>
                  </div>

  </body>

